#gameCanvas {
    position: absolute; 
    top: 20%; 
    left: 0px; 
    right: 0px; 
    /* bottom: 20%;  */
    margin: auto;
    box-shadow: 0 0 20px 3px black;
}

html, body {
    width:100%;
    height:100%;
    margin:0;
    background-color: rgb(37, 37, 37);
}

#startFullscreen {
    background-color: #91daff;
    border: none;


    text-align: center;
    width: 120px;
    position: absolute; 
    top: 15%; 
    left: 45%; 
    right: 45%; 
    bottom: 82%; 
    margin: auto;
}

@media only screen and (max-width: 800px) {
    #gameCanvas {
        top:0%;
        bottom: 0%;
    }
  }    

  p {
      text-align: center;
      font-family: Arial, Helvetica, sans-serif;
      top: 96%;
      position: relative;
  }